@font-face {
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rax-HiSdp9cPL3KIF7xrJDg.ttf) format('truetype');
}
@font-face {
  font-family: 'Quantico';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rax5HiSdp9cPL3KIF7TQAShdu0o.ttf) format('truetype');
}
