@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/6aez4K2oVqwIvtU2Gg.ttf) format('truetype');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/6ae84K2oVqwItm4TCpAy3w.ttf) format('truetype');
}
